{{> head}}

  {{> navbar}}


    <div class="row">
    <div class = "col -8">
        <h1>Prueba</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et voluptate velit, nisi, dicta enim incidunt placeat, quia nostrum voluptatum vero. Reiciendis nihil voluptatem facilis tempora optio incidunt consequatur ea?
        </p>
    </div>
    <div class = "col-4">
        <img src="assets/img/img.png" class="img-thumbnail">

    </div>
     <div class = "col-4">
        <img src="assets/img/img.jpg" class="img-thumbnail">

    </div>
    </div>

{{> foorter}}